.idea
node_modules
bower_components
.DS_Store

public/js/lib.min.js
public/js/lib.js
public/js/app.min.js
public/js/app.js
public/css/lib.min.css
public/css/lib.css
public/css/app.min.css
public/css/app.css
public/fonts