extends layout

block header
  .l-header
    h1.appname <b class="appname__firstCap">F</b>ind <b class="appname__secondCap">A</b>wesome
    p.applead Fuzzy search for Font Awesome.
block content
  .l-content
    canvas#js-canvas(width='320', height='320')
    button#js-clear Clear
    i.fa.fa-trophy(style='font-size: 0;')
    template#js-fontawesome-item-template
      li(data-selector='{{ selector }}', data-content='{{ content }}', style='float: left;')
        canvas(width='32', height='32')
    ul#js-fontawesome(style='list-style-type: none;')