doctype html
html
  head
    include include/meta
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700')
  body
    .l-container
      block header
      block content
      include include/script