ul
  li
    i.fa.fa-automobile
    | fa-automobile <span class="text-muted">(alias)</span>
  li
    i.fa.fa-bank
    | fa-bank <span class="text-muted">(alias)</span>
  li
    i.fa.fa-behance
    | fa-behance
  li
    i.fa.fa-behance-square
    | fa-behance-square
  li
    i.fa.fa-bomb
    | fa-bomb
  li
    i.fa.fa-building
    | fa-building
  li
    i.fa.fa-cab
    | fa-cab <span class="text-muted">(alias)</span>
  li
    i.fa.fa-car
    | fa-car
  li
    i.fa.fa-child
    | fa-child
  li
    i.fa.fa-circle-o-notch
    | fa-circle-o-notch
  li
    i.fa.fa-circle-thin
    | fa-circle-thin
  li
    i.fa.fa-codepen
    | fa-codepen
  li
    i.fa.fa-cube
    | fa-cube
  li
    i.fa.fa-cubes
    | fa-cubes
  li
    i.fa.fa-database
    | fa-database
  li
    i.fa.fa-delicious
    | fa-delicious
  li
    i.fa.fa-deviantart
    | fa-deviantart
  li
    i.fa.fa-digg
    | fa-digg
  li
    i.fa.fa-drupal
    | fa-drupal
  li
    i.fa.fa-empire
    | fa-empire
  li
    i.fa.fa-envelope-square
    | fa-envelope-square
  li
    i.fa.fa-fax
    | fa-fax
  li
    i.fa.fa-file-archive-o
    | fa-file-archive-o
  li
    i.fa.fa-file-audio-o
    | fa-file-audio-o
  li
    i.fa.fa-file-code-o
    | fa-file-code-o
  li
    i.fa.fa-file-excel-o
    | fa-file-excel-o
  li
    i.fa.fa-file-image-o
    | fa-file-image-o
  li
    i.fa.fa-file-movie-o
    | fa-file-movie-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-pdf-o
    | fa-file-pdf-o
  li
    i.fa.fa-file-photo-o
    | fa-file-photo-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-picture-o
    | fa-file-picture-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-powerpoint-o
    | fa-file-powerpoint-o
  li
    i.fa.fa-file-sound-o
    | fa-file-sound-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-video-o
    | fa-file-video-o
  li
    i.fa.fa-file-word-o
    | fa-file-word-o
  li
    i.fa.fa-file-zip-o
    | fa-file-zip-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-ge
    | fa-ge <span class="text-muted">(alias)</span>
  li
    i.fa.fa-git
    | fa-git
  li
    i.fa.fa-git-square
    | fa-git-square
  li
    i.fa.fa-google
    | fa-google
  li
    i.fa.fa-graduation-cap
    | fa-graduation-cap
  li
    i.fa.fa-hacker-news
    | fa-hacker-news
  li
    i.fa.fa-header
    | fa-header
  li
    i.fa.fa-history
    | fa-history
  li
    i.fa.fa-institution
    | fa-institution <span class="text-muted">(alias)</span>
  li
    i.fa.fa-joomla
    | fa-joomla
  li
    i.fa.fa-jsfiddle
    | fa-jsfiddle
  li
    i.fa.fa-language
    | fa-language
  li
    i.fa.fa-life-bouy
    | fa-life-bouy <span class="text-muted">(alias)</span>
  li
    i.fa.fa-life-ring
    | fa-life-ring
  li
    i.fa.fa-life-saver
    | fa-life-saver <span class="text-muted">(alias)</span>
  li
    i.fa.fa-mortar-board
    | fa-mortar-board <span class="text-muted">(alias)</span>
  li
    i.fa.fa-openid
    | fa-openid
  li
    i.fa.fa-paper-plane
    | fa-paper-plane
  li
    i.fa.fa-paper-plane-o
    | fa-paper-plane-o
  li
    i.fa.fa-paragraph
    | fa-paragraph
  li
    i.fa.fa-paw
    | fa-paw
  li
    i.fa.fa-pied-piper
    | fa-pied-piper
  li
    i.fa.fa-pied-piper-alt
    | fa-pied-piper-alt
  li
    i.fa.fa-pied-piper-square
    | fa-pied-piper-square <span class="text-muted">(alias)</span>
  li
    i.fa.fa-qq
    | fa-qq
  li
    i.fa.fa-ra
    | fa-ra <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rebel
    | fa-rebel
  li
    i.fa.fa-recycle
    | fa-recycle
  li
    i.fa.fa-reddit
    | fa-reddit
  li
    i.fa.fa-reddit-square
    | fa-reddit-square
  li
    i.fa.fa-send
    | fa-send <span class="text-muted">(alias)</span>
  li
    i.fa.fa-send-o
    | fa-send-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-share-alt
    | fa-share-alt
  li
    i.fa.fa-share-alt-square
    | fa-share-alt-square
  li
    i.fa.fa-slack
    | fa-slack
  li
    i.fa.fa-sliders
    | fa-sliders
  li
    i.fa.fa-soundcloud
    | fa-soundcloud
  li
    i.fa.fa-space-shuttle
    | fa-space-shuttle
  li
    i.fa.fa-spoon
    | fa-spoon
  li
    i.fa.fa-spotify
    | fa-spotify
  li
    i.fa.fa-steam
    | fa-steam
  li
    i.fa.fa-steam-square
    | fa-steam-square
  li
    i.fa.fa-stumbleupon
    | fa-stumbleupon
  li
    i.fa.fa-stumbleupon-circle
    | fa-stumbleupon-circle
  li
    i.fa.fa-support
    | fa-support <span class="text-muted">(alias)</span>
  li
    i.fa.fa-taxi
    | fa-taxi
  li
    i.fa.fa-tencent-weibo
    | fa-tencent-weibo
  li
    i.fa.fa-tree
    | fa-tree
  li
    i.fa.fa-university
    | fa-university
  li
    i.fa.fa-vine
    | fa-vine
  li
    i.fa.fa-wechat
    | fa-wechat <span class="text-muted">(alias)</span>
  li
    i.fa.fa-weixin
    | fa-weixin
  li
    i.fa.fa-wordpress
    | fa-wordpress
  li
    i.fa.fa-yahoo
    | fa-yahoo
  li
    i.fa.fa-adjust
    | fa-adjust
  li
    i.fa.fa-anchor
    | fa-anchor
  li
    i.fa.fa-archive
    | fa-archive
  li
    i.fa.fa-arrows
    | fa-arrows
  li
    i.fa.fa-arrows-h
    | fa-arrows-h
  li
    i.fa.fa-arrows-v
    | fa-arrows-v
  li
    i.fa.fa-asterisk
    | fa-asterisk
  li
    i.fa.fa-automobile
    | fa-automobile <span class="text-muted">(alias)</span>
  li
    i.fa.fa-ban
    | fa-ban
  li
    i.fa.fa-bank
    | fa-bank <span class="text-muted">(alias)</span>
  li
    i.fa.fa-bar-chart-o
    | fa-bar-chart-o
  li
    i.fa.fa-barcode
    | fa-barcode
  li
    i.fa.fa-bars
    | fa-bars
  li
    i.fa.fa-beer
    | fa-beer
  li
    i.fa.fa-bell
    | fa-bell
  li
    i.fa.fa-bell-o
    | fa-bell-o
  li
    i.fa.fa-bolt
    | fa-bolt
  li
    i.fa.fa-bomb
    | fa-bomb
  li
    i.fa.fa-book
    | fa-book
  li
    i.fa.fa-bookmark
    | fa-bookmark
  li
    i.fa.fa-bookmark-o
    | fa-bookmark-o
  li
    i.fa.fa-briefcase
    | fa-briefcase
  li
    i.fa.fa-bug
    | fa-bug
  li
    i.fa.fa-building
    | fa-building
  li
    i.fa.fa-building-o
    | fa-building-o
  li
    i.fa.fa-bullhorn
    | fa-bullhorn
  li
    i.fa.fa-bullseye
    | fa-bullseye
  li
    i.fa.fa-cab
    | fa-cab <span class="text-muted">(alias)</span>
  li
    i.fa.fa-calendar
    | fa-calendar
  li
    i.fa.fa-calendar-o
    | fa-calendar-o
  li
    i.fa.fa-camera
    | fa-camera
  li
    i.fa.fa-camera-retro
    | fa-camera-retro
  li
    i.fa.fa-car
    | fa-car
  li
    i.fa.fa-caret-square-o-down
    | fa-caret-square-o-down
  li
    i.fa.fa-caret-square-o-left
    | fa-caret-square-o-left
  li
    i.fa.fa-caret-square-o-right
    | fa-caret-square-o-right
  li
    i.fa.fa-caret-square-o-up
    | fa-caret-square-o-up
  li
    i.fa.fa-certificate
    | fa-certificate
  li
    i.fa.fa-check
    | fa-check
  li
    i.fa.fa-check-circle
    | fa-check-circle
  li
    i.fa.fa-check-circle-o
    | fa-check-circle-o
  li
    i.fa.fa-check-square
    | fa-check-square
  li
    i.fa.fa-check-square-o
    | fa-check-square-o
  li
    i.fa.fa-child
    | fa-child
  li
    i.fa.fa-circle
    | fa-circle
  li
    i.fa.fa-circle-o
    | fa-circle-o
  li
    i.fa.fa-circle-o-notch
    | fa-circle-o-notch
  li
    i.fa.fa-circle-thin
    | fa-circle-thin
  li
    i.fa.fa-clock-o
    | fa-clock-o
  li
    i.fa.fa-cloud
    | fa-cloud
  li
    i.fa.fa-cloud-download
    | fa-cloud-download
  li
    i.fa.fa-cloud-upload
    | fa-cloud-upload
  li
    i.fa.fa-code
    | fa-code
  li
    i.fa.fa-code-fork
    | fa-code-fork
  li
    i.fa.fa-coffee
    | fa-coffee
  li
    i.fa.fa-cog
    | fa-cog
  li
    i.fa.fa-cogs
    | fa-cogs
  li
    i.fa.fa-comment
    | fa-comment
  li
    i.fa.fa-comment-o
    | fa-comment-o
  li
    i.fa.fa-comments
    | fa-comments
  li
    i.fa.fa-comments-o
    | fa-comments-o
  li
    i.fa.fa-compass
    | fa-compass
  li
    i.fa.fa-credit-card
    | fa-credit-card
  li
    i.fa.fa-crop
    | fa-crop
  li
    i.fa.fa-crosshairs
    | fa-crosshairs
  li
    i.fa.fa-cube
    | fa-cube
  li
    i.fa.fa-cubes
    | fa-cubes
  li
    i.fa.fa-cutlery
    | fa-cutlery
  li
    i.fa.fa-dashboard
    | fa-dashboard <span class="text-muted">(alias)</span>
  li
    i.fa.fa-database
    | fa-database
  li
    i.fa.fa-desktop
    | fa-desktop
  li
    i.fa.fa-dot-circle-o
    | fa-dot-circle-o
  li
    i.fa.fa-download
    | fa-download
  li
    i.fa.fa-edit
    | fa-edit <span class="text-muted">(alias)</span>
  li
    i.fa.fa-ellipsis-h
    | fa-ellipsis-h
  li
    i.fa.fa-ellipsis-v
    | fa-ellipsis-v
  li
    i.fa.fa-envelope
    | fa-envelope
  li
    i.fa.fa-envelope-o
    | fa-envelope-o
  li
    i.fa.fa-envelope-square
    | fa-envelope-square
  li
    i.fa.fa-eraser
    | fa-eraser
  li
    i.fa.fa-exchange
    | fa-exchange
  li
    i.fa.fa-exclamation
    | fa-exclamation
  li
    i.fa.fa-exclamation-circle
    | fa-exclamation-circle
  li
    i.fa.fa-exclamation-triangle
    | fa-exclamation-triangle
  li
    i.fa.fa-external-link
    | fa-external-link
  li
    i.fa.fa-external-link-square
    | fa-external-link-square
  li
    i.fa.fa-eye
    | fa-eye
  li
    i.fa.fa-eye-slash
    | fa-eye-slash
  li
    i.fa.fa-fax
    | fa-fax
  li
    i.fa.fa-female
    | fa-female
  li
    i.fa.fa-fighter-jet
    | fa-fighter-jet
  li
    i.fa.fa-file-archive-o
    | fa-file-archive-o
  li
    i.fa.fa-file-audio-o
    | fa-file-audio-o
  li
    i.fa.fa-file-code-o
    | fa-file-code-o
  li
    i.fa.fa-file-excel-o
    | fa-file-excel-o
  li
    i.fa.fa-file-image-o
    | fa-file-image-o
  li
    i.fa.fa-file-movie-o
    | fa-file-movie-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-pdf-o
    | fa-file-pdf-o
  li
    i.fa.fa-file-photo-o
    | fa-file-photo-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-picture-o
    | fa-file-picture-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-powerpoint-o
    | fa-file-powerpoint-o
  li
    i.fa.fa-file-sound-o
    | fa-file-sound-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-video-o
    | fa-file-video-o
  li
    i.fa.fa-file-word-o
    | fa-file-word-o
  li
    i.fa.fa-file-zip-o
    | fa-file-zip-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-film
    | fa-film
  li
    i.fa.fa-filter
    | fa-filter
  li
    i.fa.fa-fire
    | fa-fire
  li
    i.fa.fa-fire-extinguisher
    | fa-fire-extinguisher
  li
    i.fa.fa-flag
    | fa-flag
  li
    i.fa.fa-flag-checkered
    | fa-flag-checkered
  li
    i.fa.fa-flag-o
    | fa-flag-o
  li
    i.fa.fa-flash
    | fa-flash <span class="text-muted">(alias)</span>
  li
    i.fa.fa-flask
    | fa-flask
  li
    i.fa.fa-folder
    | fa-folder
  li
    i.fa.fa-folder-o
    | fa-folder-o
  li
    i.fa.fa-folder-open
    | fa-folder-open
  li
    i.fa.fa-folder-open-o
    | fa-folder-open-o
  li
    i.fa.fa-frown-o
    | fa-frown-o
  li
    i.fa.fa-gamepad
    | fa-gamepad
  li
    i.fa.fa-gavel
    | fa-gavel
  li
    i.fa.fa-gear
    | fa-gear <span class="text-muted">(alias)</span>
  li
    i.fa.fa-gears
    | fa-gears <span class="text-muted">(alias)</span>
  li
    i.fa.fa-gift
    | fa-gift
  li
    i.fa.fa-glass
    | fa-glass
  li
    i.fa.fa-globe
    | fa-globe
  li
    i.fa.fa-graduation-cap
    | fa-graduation-cap
  li
    i.fa.fa-group
    | fa-group <span class="text-muted">(alias)</span>
  li
    i.fa.fa-hdd-o
    | fa-hdd-o
  li
    i.fa.fa-headphones
    | fa-headphones
  li
    i.fa.fa-heart
    | fa-heart
  li
    i.fa.fa-heart-o
    | fa-heart-o
  li
    i.fa.fa-history
    | fa-history
  li
    i.fa.fa-home
    | fa-home
  li
    i.fa.fa-image
    | fa-image <span class="text-muted">(alias)</span>
  li
    i.fa.fa-inbox
    | fa-inbox
  li
    i.fa.fa-info
    | fa-info
  li
    i.fa.fa-info-circle
    | fa-info-circle
  li
    i.fa.fa-institution
    | fa-institution <span class="text-muted">(alias)</span>
  li
    i.fa.fa-key
    | fa-key
  li
    i.fa.fa-keyboard-o
    | fa-keyboard-o
  li
    i.fa.fa-language
    | fa-language
  li
    i.fa.fa-laptop
    | fa-laptop
  li
    i.fa.fa-leaf
    | fa-leaf
  li
    i.fa.fa-legal
    | fa-legal <span class="text-muted">(alias)</span>
  li
    i.fa.fa-lemon-o
    | fa-lemon-o
  li
    i.fa.fa-level-down
    | fa-level-down
  li
    i.fa.fa-level-up
    | fa-level-up
  li
    i.fa.fa-life-bouy
    | fa-life-bouy <span class="text-muted">(alias)</span>
  li
    i.fa.fa-life-ring
    | fa-life-ring
  li
    i.fa.fa-life-saver
    | fa-life-saver <span class="text-muted">(alias)</span>
  li
    i.fa.fa-lightbulb-o
    | fa-lightbulb-o
  li
    i.fa.fa-location-arrow
    | fa-location-arrow
  li
    i.fa.fa-lock
    | fa-lock
  li
    i.fa.fa-magic
    | fa-magic
  li
    i.fa.fa-magnet
    | fa-magnet
  li
    i.fa.fa-mail-forward
    | fa-mail-forward <span class="text-muted">(alias)</span>
  li
    i.fa.fa-mail-reply
    | fa-mail-reply <span class="text-muted">(alias)</span>
  li
    i.fa.fa-mail-reply-all
    | fa-mail-reply-all <span class="text-muted">(alias)</span>
  li
    i.fa.fa-male
    | fa-male
  li
    i.fa.fa-map-marker
    | fa-map-marker
  li
    i.fa.fa-meh-o
    | fa-meh-o
  li
    i.fa.fa-microphone
    | fa-microphone
  li
    i.fa.fa-microphone-slash
    | fa-microphone-slash
  li
    i.fa.fa-minus
    | fa-minus
  li
    i.fa.fa-minus-circle
    | fa-minus-circle
  li
    i.fa.fa-minus-square
    | fa-minus-square
  li
    i.fa.fa-minus-square-o
    | fa-minus-square-o
  li
    i.fa.fa-mobile
    | fa-mobile
  li
    i.fa.fa-mobile-phone
    | fa-mobile-phone <span class="text-muted">(alias)</span>
  li
    i.fa.fa-money
    | fa-money
  li
    i.fa.fa-moon-o
    | fa-moon-o
  li
    i.fa.fa-mortar-board
    | fa-mortar-board <span class="text-muted">(alias)</span>
  li
    i.fa.fa-music
    | fa-music
  li
    i.fa.fa-navicon
    | fa-navicon <span class="text-muted">(alias)</span>
  li
    i.fa.fa-paper-plane
    | fa-paper-plane
  li
    i.fa.fa-paper-plane-o
    | fa-paper-plane-o
  li
    i.fa.fa-paw
    | fa-paw
  li
    i.fa.fa-pencil
    | fa-pencil
  li
    i.fa.fa-pencil-square
    | fa-pencil-square
  li
    i.fa.fa-pencil-square-o
    | fa-pencil-square-o
  li
    i.fa.fa-phone
    | fa-phone
  li
    i.fa.fa-phone-square
    | fa-phone-square
  li
    i.fa.fa-photo
    | fa-photo <span class="text-muted">(alias)</span>
  li
    i.fa.fa-picture-o
    | fa-picture-o
  li
    i.fa.fa-plane
    | fa-plane
  li
    i.fa.fa-plus
    | fa-plus
  li
    i.fa.fa-plus-circle
    | fa-plus-circle
  li
    i.fa.fa-plus-square
    | fa-plus-square
  li
    i.fa.fa-plus-square-o
    | fa-plus-square-o
  li
    i.fa.fa-power-off
    | fa-power-off
  li
    i.fa.fa-print
    | fa-print
  li
    i.fa.fa-puzzle-piece
    | fa-puzzle-piece
  li
    i.fa.fa-qrcode
    | fa-qrcode
  li
    i.fa.fa-question
    | fa-question
  li
    i.fa.fa-question-circle
    | fa-question-circle
  li
    i.fa.fa-quote-left
    | fa-quote-left
  li
    i.fa.fa-quote-right
    | fa-quote-right
  li
    i.fa.fa-random
    | fa-random
  li
    i.fa.fa-recycle
    | fa-recycle
  li
    i.fa.fa-refresh
    | fa-refresh
  li
    i.fa.fa-reorder
    | fa-reorder <span class="text-muted">(alias)</span>
  li
    i.fa.fa-reply
    | fa-reply
  li
    i.fa.fa-reply-all
    | fa-reply-all
  li
    i.fa.fa-retweet
    | fa-retweet
  li
    i.fa.fa-road
    | fa-road
  li
    i.fa.fa-rocket
    | fa-rocket
  li
    i.fa.fa-rss
    | fa-rss
  li
    i.fa.fa-rss-square
    | fa-rss-square
  li
    i.fa.fa-search
    | fa-search
  li
    i.fa.fa-search-minus
    | fa-search-minus
  li
    i.fa.fa-search-plus
    | fa-search-plus
  li
    i.fa.fa-send
    | fa-send <span class="text-muted">(alias)</span>
  li
    i.fa.fa-send-o
    | fa-send-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-share
    | fa-share
  li
    i.fa.fa-share-alt
    | fa-share-alt
  li
    i.fa.fa-share-alt-square
    | fa-share-alt-square
  li
    i.fa.fa-share-square
    | fa-share-square
  li
    i.fa.fa-share-square-o
    | fa-share-square-o
  li
    i.fa.fa-shield
    | fa-shield
  li
    i.fa.fa-shopping-cart
    | fa-shopping-cart
  li
    i.fa.fa-sign-in
    | fa-sign-in
  li
    i.fa.fa-sign-out
    | fa-sign-out
  li
    i.fa.fa-signal
    | fa-signal
  li
    i.fa.fa-sitemap
    | fa-sitemap
  li
    i.fa.fa-sliders
    | fa-sliders
  li
    i.fa.fa-smile-o
    | fa-smile-o
  li
    i.fa.fa-sort
    | fa-sort
  li
    i.fa.fa-sort-alpha-asc
    | fa-sort-alpha-asc
  li
    i.fa.fa-sort-alpha-desc
    | fa-sort-alpha-desc
  li
    i.fa.fa-sort-amount-asc
    | fa-sort-amount-asc
  li
    i.fa.fa-sort-amount-desc
    | fa-sort-amount-desc
  li
    i.fa.fa-sort-asc
    | fa-sort-asc
  li
    i.fa.fa-sort-desc
    | fa-sort-desc
  li
    i.fa.fa-sort-down
    | fa-sort-down <span class="text-muted">(alias)</span>
  li
    i.fa.fa-sort-numeric-asc
    | fa-sort-numeric-asc
  li
    i.fa.fa-sort-numeric-desc
    | fa-sort-numeric-desc
  li
    i.fa.fa-sort-up
    | fa-sort-up <span class="text-muted">(alias)</span>
  li
    i.fa.fa-space-shuttle
    | fa-space-shuttle
  li
    i.fa.fa-spinner
    | fa-spinner
  li
    i.fa.fa-spoon
    | fa-spoon
  li
    i.fa.fa-square
    | fa-square
  li
    i.fa.fa-square-o
    | fa-square-o
  li
    i.fa.fa-star
    | fa-star
  li
    i.fa.fa-star-half
    | fa-star-half
  li
    i.fa.fa-star-half-empty
    | fa-star-half-empty <span class="text-muted">(alias)</span>
  li
    i.fa.fa-star-half-full
    | fa-star-half-full <span class="text-muted">(alias)</span>
  li
    i.fa.fa-star-half-o
    | fa-star-half-o
  li
    i.fa.fa-star-o
    | fa-star-o
  li
    i.fa.fa-suitcase
    | fa-suitcase
  li
    i.fa.fa-sun-o
    | fa-sun-o
  li
    i.fa.fa-support
    | fa-support <span class="text-muted">(alias)</span>
  li
    i.fa.fa-tablet
    | fa-tablet
  li
    i.fa.fa-tachometer
    | fa-tachometer
  li
    i.fa.fa-tag
    | fa-tag
  li
    i.fa.fa-tags
    | fa-tags
  li
    i.fa.fa-tasks
    | fa-tasks
  li
    i.fa.fa-taxi
    | fa-taxi
  li
    i.fa.fa-terminal
    | fa-terminal
  li
    i.fa.fa-thumb-tack
    | fa-thumb-tack
  li
    i.fa.fa-thumbs-down
    | fa-thumbs-down
  li
    i.fa.fa-thumbs-o-down
    | fa-thumbs-o-down
  li
    i.fa.fa-thumbs-o-up
    | fa-thumbs-o-up
  li
    i.fa.fa-thumbs-up
    | fa-thumbs-up
  li
    i.fa.fa-ticket
    | fa-ticket
  li
    i.fa.fa-times
    | fa-times
  li
    i.fa.fa-times-circle
    | fa-times-circle
  li
    i.fa.fa-times-circle-o
    | fa-times-circle-o
  li
    i.fa.fa-tint
    | fa-tint
  li
    i.fa.fa-toggle-down
    | fa-toggle-down <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-left
    | fa-toggle-left <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-right
    | fa-toggle-right <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-up
    | fa-toggle-up <span class="text-muted">(alias)</span>
  li
    i.fa.fa-trash-o
    | fa-trash-o
  li
    i.fa.fa-tree
    | fa-tree
  li
    i.fa.fa-trophy
    | fa-trophy
  li
    i.fa.fa-truck
    | fa-truck
  li
    i.fa.fa-umbrella
    | fa-umbrella
  li
    i.fa.fa-university
    | fa-university
  li
    i.fa.fa-unlock
    | fa-unlock
  li
    i.fa.fa-unlock-alt
    | fa-unlock-alt
  li
    i.fa.fa-unsorted
    | fa-unsorted <span class="text-muted">(alias)</span>
  li
    i.fa.fa-upload
    | fa-upload
  li
    i.fa.fa-user
    | fa-user
  li
    i.fa.fa-users
    | fa-users
  li
    i.fa.fa-video-camera
    | fa-video-camera
  li
    i.fa.fa-volume-down
    | fa-volume-down
  li
    i.fa.fa-volume-off
    | fa-volume-off
  li
    i.fa.fa-volume-up
    | fa-volume-up
  li
    i.fa.fa-warning
    | fa-warning <span class="text-muted">(alias)</span>
  li
    i.fa.fa-wheelchair
    | fa-wheelchair
  li
    i.fa.fa-wrench
    | fa-wrench
  li
    i.fa.fa-file
    | fa-file
  li
    i.fa.fa-file-archive-o
    | fa-file-archive-o
  li
    i.fa.fa-file-audio-o
    | fa-file-audio-o
  li
    i.fa.fa-file-code-o
    | fa-file-code-o
  li
    i.fa.fa-file-excel-o
    | fa-file-excel-o
  li
    i.fa.fa-file-image-o
    | fa-file-image-o
  li
    i.fa.fa-file-movie-o
    | fa-file-movie-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-o
    | fa-file-o
  li
    i.fa.fa-file-pdf-o
    | fa-file-pdf-o
  li
    i.fa.fa-file-photo-o
    | fa-file-photo-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-picture-o
    | fa-file-picture-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-powerpoint-o
    | fa-file-powerpoint-o
  li
    i.fa.fa-file-sound-o
    | fa-file-sound-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-file-text
    | fa-file-text
  li
    i.fa.fa-file-text-o
    | fa-file-text-o
  li
    i.fa.fa-file-video-o
    | fa-file-video-o
  li
    i.fa.fa-file-word-o
    | fa-file-word-o
  li
    i.fa.fa-file-zip-o
    | fa-file-zip-o <span class="text-muted">(alias)</span>
  li
    i.fa.fa-circle-o-notch
    | fa-circle-o-notch
  li
    i.fa.fa-cog
    | fa-cog
  li
    i.fa.fa-gear
    | fa-gear <span class="text-muted">(alias)</span>
  li
    i.fa.fa-refresh
    | fa-refresh
  li
    i.fa.fa-spinner
    | fa-spinner
  li
    i.fa.fa-check-square
    | fa-check-square
  li
    i.fa.fa-check-square-o
    | fa-check-square-o
  li
    i.fa.fa-circle
    | fa-circle
  li
    i.fa.fa-circle-o
    | fa-circle-o
  li
    i.fa.fa-dot-circle-o
    | fa-dot-circle-o
  li
    i.fa.fa-minus-square
    | fa-minus-square
  li
    i.fa.fa-minus-square-o
    | fa-minus-square-o
  li
    i.fa.fa-plus-square
    | fa-plus-square
  li
    i.fa.fa-plus-square-o
    | fa-plus-square-o
  li
    i.fa.fa-square
    | fa-square
  li
    i.fa.fa-square-o
    | fa-square-o
  li
    i.fa.fa-bitcoin
    | fa-bitcoin <span class="text-muted">(alias)</span>
  li
    i.fa.fa-btc
    | fa-btc
  li
    i.fa.fa-cny
    | fa-cny <span class="text-muted">(alias)</span>
  li
    i.fa.fa-dollar
    | fa-dollar <span class="text-muted">(alias)</span>
  li
    i.fa.fa-eur
    | fa-eur
  li
    i.fa.fa-euro
    | fa-euro <span class="text-muted">(alias)</span>
  li
    i.fa.fa-gbp
    | fa-gbp
  li
    i.fa.fa-inr
    | fa-inr
  li
    i.fa.fa-jpy
    | fa-jpy
  li
    i.fa.fa-krw
    | fa-krw
  li
    i.fa.fa-money
    | fa-money
  li
    i.fa.fa-rmb
    | fa-rmb <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rouble
    | fa-rouble <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rub
    | fa-rub
  li
    i.fa.fa-ruble
    | fa-ruble <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rupee
    | fa-rupee <span class="text-muted">(alias)</span>
  li
    i.fa.fa-try
    | fa-try
  li
    i.fa.fa-turkish-lira
    | fa-turkish-lira <span class="text-muted">(alias)</span>
  li
    i.fa.fa-usd
    | fa-usd
  li
    i.fa.fa-won
    | fa-won <span class="text-muted">(alias)</span>
  li
    i.fa.fa-yen
    | fa-yen <span class="text-muted">(alias)</span>
  li
    i.fa.fa-align-center
    | fa-align-center
  li
    i.fa.fa-align-justify
    | fa-align-justify
  li
    i.fa.fa-align-left
    | fa-align-left
  li
    i.fa.fa-align-right
    | fa-align-right
  li
    i.fa.fa-bold
    | fa-bold
  li
    i.fa.fa-chain
    | fa-chain <span class="text-muted">(alias)</span>
  li
    i.fa.fa-chain-broken
    | fa-chain-broken
  li
    i.fa.fa-clipboard
    | fa-clipboard
  li
    i.fa.fa-columns
    | fa-columns
  li
    i.fa.fa-copy
    | fa-copy <span class="text-muted">(alias)</span>
  li
    i.fa.fa-cut
    | fa-cut <span class="text-muted">(alias)</span>
  li
    i.fa.fa-dedent
    | fa-dedent <span class="text-muted">(alias)</span>
  li
    i.fa.fa-eraser
    | fa-eraser
  li
    i.fa.fa-file
    | fa-file
  li
    i.fa.fa-file-o
    | fa-file-o
  li
    i.fa.fa-file-text
    | fa-file-text
  li
    i.fa.fa-file-text-o
    | fa-file-text-o
  li
    i.fa.fa-files-o
    | fa-files-o
  li
    i.fa.fa-floppy-o
    | fa-floppy-o
  li
    i.fa.fa-font
    | fa-font
  li
    i.fa.fa-header
    | fa-header
  li
    i.fa.fa-indent
    | fa-indent
  li
    i.fa.fa-italic
    | fa-italic
  li
    i.fa.fa-link
    | fa-link
  li
    i.fa.fa-list
    | fa-list
  li
    i.fa.fa-list-alt
    | fa-list-alt
  li
    i.fa.fa-list-ol
    | fa-list-ol
  li
    i.fa.fa-list-ul
    | fa-list-ul
  li
    i.fa.fa-outdent
    | fa-outdent
  li
    i.fa.fa-paperclip
    | fa-paperclip
  li
    i.fa.fa-paragraph
    | fa-paragraph
  li
    i.fa.fa-paste
    | fa-paste <span class="text-muted">(alias)</span>
  li
    i.fa.fa-repeat
    | fa-repeat
  li
    i.fa.fa-rotate-left
    | fa-rotate-left <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rotate-right
    | fa-rotate-right <span class="text-muted">(alias)</span>
  li
    i.fa.fa-save
    | fa-save <span class="text-muted">(alias)</span>
  li
    i.fa.fa-scissors
    | fa-scissors
  li
    i.fa.fa-strikethrough
    | fa-strikethrough
  li
    i.fa.fa-subscript
    | fa-subscript
  li
    i.fa.fa-superscript
    | fa-superscript
  li
    i.fa.fa-table
    | fa-table
  li
    i.fa.fa-text-height
    | fa-text-height
  li
    i.fa.fa-text-width
    | fa-text-width
  li
    i.fa.fa-th
    | fa-th
  li
    i.fa.fa-th-large
    | fa-th-large
  li
    i.fa.fa-th-list
    | fa-th-list
  li
    i.fa.fa-underline
    | fa-underline
  li
    i.fa.fa-undo
    | fa-undo
  li
    i.fa.fa-unlink
    | fa-unlink <span class="text-muted">(alias)</span>
  li
    i.fa.fa-angle-double-down
    | fa-angle-double-down
  li
    i.fa.fa-angle-double-left
    | fa-angle-double-left
  li
    i.fa.fa-angle-double-right
    | fa-angle-double-right
  li
    i.fa.fa-angle-double-up
    | fa-angle-double-up
  li
    i.fa.fa-angle-down
    | fa-angle-down
  li
    i.fa.fa-angle-left
    | fa-angle-left
  li
    i.fa.fa-angle-right
    | fa-angle-right
  li
    i.fa.fa-angle-up
    | fa-angle-up
  li
    i.fa.fa-arrow-circle-down
    | fa-arrow-circle-down
  li
    i.fa.fa-arrow-circle-left
    | fa-arrow-circle-left
  li
    i.fa.fa-arrow-circle-o-down
    | fa-arrow-circle-o-down
  li
    i.fa.fa-arrow-circle-o-left
    | fa-arrow-circle-o-left
  li
    i.fa.fa-arrow-circle-o-right
    | fa-arrow-circle-o-right
  li
    i.fa.fa-arrow-circle-o-up
    | fa-arrow-circle-o-up
  li
    i.fa.fa-arrow-circle-right
    | fa-arrow-circle-right
  li
    i.fa.fa-arrow-circle-up
    | fa-arrow-circle-up
  li
    i.fa.fa-arrow-down
    | fa-arrow-down
  li
    i.fa.fa-arrow-left
    | fa-arrow-left
  li
    i.fa.fa-arrow-right
    | fa-arrow-right
  li
    i.fa.fa-arrow-up
    | fa-arrow-up
  li
    i.fa.fa-arrows
    | fa-arrows
  li
    i.fa.fa-arrows-alt
    | fa-arrows-alt
  li
    i.fa.fa-arrows-h
    | fa-arrows-h
  li
    i.fa.fa-arrows-v
    | fa-arrows-v
  li
    i.fa.fa-caret-down
    | fa-caret-down
  li
    i.fa.fa-caret-left
    | fa-caret-left
  li
    i.fa.fa-caret-right
    | fa-caret-right
  li
    i.fa.fa-caret-square-o-down
    | fa-caret-square-o-down
  li
    i.fa.fa-caret-square-o-left
    | fa-caret-square-o-left
  li
    i.fa.fa-caret-square-o-right
    | fa-caret-square-o-right
  li
    i.fa.fa-caret-square-o-up
    | fa-caret-square-o-up
  li
    i.fa.fa-caret-up
    | fa-caret-up
  li
    i.fa.fa-chevron-circle-down
    | fa-chevron-circle-down
  li
    i.fa.fa-chevron-circle-left
    | fa-chevron-circle-left
  li
    i.fa.fa-chevron-circle-right
    | fa-chevron-circle-right
  li
    i.fa.fa-chevron-circle-up
    | fa-chevron-circle-up
  li
    i.fa.fa-chevron-down
    | fa-chevron-down
  li
    i.fa.fa-chevron-left
    | fa-chevron-left
  li
    i.fa.fa-chevron-right
    | fa-chevron-right
  li
    i.fa.fa-chevron-up
    | fa-chevron-up
  li
    i.fa.fa-hand-o-down
    | fa-hand-o-down
  li
    i.fa.fa-hand-o-left
    | fa-hand-o-left
  li
    i.fa.fa-hand-o-right
    | fa-hand-o-right
  li
    i.fa.fa-hand-o-up
    | fa-hand-o-up
  li
    i.fa.fa-long-arrow-down
    | fa-long-arrow-down
  li
    i.fa.fa-long-arrow-left
    | fa-long-arrow-left
  li
    i.fa.fa-long-arrow-right
    | fa-long-arrow-right
  li
    i.fa.fa-long-arrow-up
    | fa-long-arrow-up
  li
    i.fa.fa-toggle-down
    | fa-toggle-down <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-left
    | fa-toggle-left <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-right
    | fa-toggle-right <span class="text-muted">(alias)</span>
  li
    i.fa.fa-toggle-up
    | fa-toggle-up <span class="text-muted">(alias)</span>
  li
    i.fa.fa-arrows-alt
    | fa-arrows-alt
  li
    i.fa.fa-backward
    | fa-backward
  li
    i.fa.fa-compress
    | fa-compress
  li
    i.fa.fa-eject
    | fa-eject
  li
    i.fa.fa-expand
    | fa-expand
  li
    i.fa.fa-fast-backward
    | fa-fast-backward
  li
    i.fa.fa-fast-forward
    | fa-fast-forward
  li
    i.fa.fa-forward
    | fa-forward
  li
    i.fa.fa-pause
    | fa-pause
  li
    i.fa.fa-play
    | fa-play
  li
    i.fa.fa-play-circle
    | fa-play-circle
  li
    i.fa.fa-play-circle-o
    | fa-play-circle-o
  li
    i.fa.fa-step-backward
    | fa-step-backward
  li
    i.fa.fa-step-forward
    | fa-step-forward
  li
    i.fa.fa-stop
    | fa-stop
  li
    i.fa.fa-youtube-play
    | fa-youtube-play
  li
    i.fa.fa-adn
    | fa-adn
  li
    i.fa.fa-android
    | fa-android
  li
    i.fa.fa-apple
    | fa-apple
  li
    i.fa.fa-behance
    | fa-behance
  li
    i.fa.fa-behance-square
    | fa-behance-square
  li
    i.fa.fa-bitbucket
    | fa-bitbucket
  li
    i.fa.fa-bitbucket-square
    | fa-bitbucket-square
  li
    i.fa.fa-bitcoin
    | fa-bitcoin <span class="text-muted">(alias)</span>
  li
    i.fa.fa-btc
    | fa-btc
  li
    i.fa.fa-codepen
    | fa-codepen
  li
    i.fa.fa-css3
    | fa-css3
  li
    i.fa.fa-delicious
    | fa-delicious
  li
    i.fa.fa-deviantart
    | fa-deviantart
  li
    i.fa.fa-digg
    | fa-digg
  li
    i.fa.fa-dribbble
    | fa-dribbble
  li
    i.fa.fa-dropbox
    | fa-dropbox
  li
    i.fa.fa-drupal
    | fa-drupal
  li
    i.fa.fa-empire
    | fa-empire
  li
    i.fa.fa-facebook
    | fa-facebook
  li
    i.fa.fa-facebook-square
    | fa-facebook-square
  li
    i.fa.fa-flickr
    | fa-flickr
  li
    i.fa.fa-foursquare
    | fa-foursquare
  li
    i.fa.fa-ge
    | fa-ge <span class="text-muted">(alias)</span>
  li
    i.fa.fa-git
    | fa-git
  li
    i.fa.fa-git-square
    | fa-git-square
  li
    i.fa.fa-github
    | fa-github
  li
    i.fa.fa-github-alt
    | fa-github-alt
  li
    i.fa.fa-github-square
    | fa-github-square
  li
    i.fa.fa-gittip
    | fa-gittip
  li
    i.fa.fa-google
    | fa-google
  li
    i.fa.fa-google-plus
    | fa-google-plus
  li
    i.fa.fa-google-plus-square
    | fa-google-plus-square
  li
    i.fa.fa-hacker-news
    | fa-hacker-news
  li
    i.fa.fa-html5
    | fa-html5
  li
    i.fa.fa-instagram
    | fa-instagram
  li
    i.fa.fa-joomla
    | fa-joomla
  li
    i.fa.fa-jsfiddle
    | fa-jsfiddle
  li
    i.fa.fa-linkedin
    | fa-linkedin
  li
    i.fa.fa-linkedin-square
    | fa-linkedin-square
  li
    i.fa.fa-linux
    | fa-linux
  li
    i.fa.fa-maxcdn
    | fa-maxcdn
  li
    i.fa.fa-openid
    | fa-openid
  li
    i.fa.fa-pagelines
    | fa-pagelines
  li
    i.fa.fa-pied-piper
    | fa-pied-piper
  li
    i.fa.fa-pied-piper-alt
    | fa-pied-piper-alt
  li
    i.fa.fa-pied-piper-square
    | fa-pied-piper-square <span class="text-muted">(alias)</span>
  li
    i.fa.fa-pinterest
    | fa-pinterest
  li
    i.fa.fa-pinterest-square
    | fa-pinterest-square
  li
    i.fa.fa-qq
    | fa-qq
  li
    i.fa.fa-ra
    | fa-ra <span class="text-muted">(alias)</span>
  li
    i.fa.fa-rebel
    | fa-rebel
  li
    i.fa.fa-reddit
    | fa-reddit
  li
    i.fa.fa-reddit-square
    | fa-reddit-square
  li
    i.fa.fa-renren
    | fa-renren
  li
    i.fa.fa-share-alt
    | fa-share-alt
  li
    i.fa.fa-share-alt-square
    | fa-share-alt-square
  li
    i.fa.fa-skype
    | fa-skype
  li
    i.fa.fa-slack
    | fa-slack
  li
    i.fa.fa-soundcloud
    | fa-soundcloud
  li
    i.fa.fa-spotify
    | fa-spotify
  li
    i.fa.fa-stack-exchange
    | fa-stack-exchange
  li
    i.fa.fa-stack-overflow
    | fa-stack-overflow
  li
    i.fa.fa-steam
    | fa-steam
  li
    i.fa.fa-steam-square
    | fa-steam-square
  li
    i.fa.fa-stumbleupon
    | fa-stumbleupon
  li
    i.fa.fa-stumbleupon-circle
    | fa-stumbleupon-circle
  li
    i.fa.fa-tencent-weibo
    | fa-tencent-weibo
  li
    i.fa.fa-trello
    | fa-trello
  li
    i.fa.fa-tumblr
    | fa-tumblr
  li
    i.fa.fa-tumblr-square
    | fa-tumblr-square
  li
    i.fa.fa-twitter
    | fa-twitter
  li
    i.fa.fa-twitter-square
    | fa-twitter-square
  li
    i.fa.fa-vimeo-square
    | fa-vimeo-square
  li
    i.fa.fa-vine
    | fa-vine
  li
    i.fa.fa-vk
    | fa-vk
  li
    i.fa.fa-wechat
    | fa-wechat <span class="text-muted">(alias)</span>
  li
    i.fa.fa-weibo
    | fa-weibo
  li
    i.fa.fa-weixin
    | fa-weixin
  li
    i.fa.fa-windows
    | fa-windows
  li
    i.fa.fa-wordpress
    | fa-wordpress
  li
    i.fa.fa-xing
    | fa-xing
  li
    i.fa.fa-xing-square
    | fa-xing-square
  li
    i.fa.fa-yahoo
    | fa-yahoo
  li
    i.fa.fa-youtube
    | fa-youtube
  li
    i.fa.fa-youtube-play
    | fa-youtube-play
  li
    i.fa.fa-youtube-square
    | fa-youtube-square
  li
    i.fa.fa-ambulance
    | fa-ambulance
  li
    i.fa.fa-h-square
    | fa-h-square
  li
    i.fa.fa-hospital-o
    | fa-hospital-o
  li
    i.fa.fa-medkit
    | fa-medkit
  li
    i.fa.fa-plus-square
    | fa-plus-square
  li
    i.fa.fa-stethoscope
    | fa-stethoscope
  li
    i.fa.fa-user-md
    | fa-user-md
  li
    i.fa.fa-wheelchair
    | fa-wheelchair